@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root{
  --cor-principal: rgba(0, 0, 0, .3);
  --cor-base: rgba(0, 0, 0, 1);
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100vh;
  font-family: "Source Sans 3", sans-serif;
}